/*******************************
*
* Author: galrim
* Date: 5.08.2018
*
*********************************/

a:hover {
    color: red;
}

a:active{
    color:orange;
}

a:visited{
    color: yellowgreen;
}