/*******************************
*
* Author: galrim
* Date: 5.08.2018
*
*********************************/

p, a, span, li {
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
}