/*******************************
*
* Author: galrim
* Date: 5.08.2018
*
*********************************/


/* Style all p tags */

p {
    font-size: 18px;
    color: blue;
}

a {
    text-decoration: underline;
    color: red;
}